body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(235, 239, 243);
}

a {
  color: #00B7FF;
}
.dropdown-menu{
  box-sizing: border-box;
  border-style: dotted;
  width: 40px;
}
.btn{
  width: 150px;
}
#form1{
  background-color: #FFFAF0	;
  margin: 25px 0px 10px 0px;
  border-style: 1px solid #BEBEBE;
  padding:20px;
  border-radius: 5px;
}
#form1 input{
  border: 1px solid #BEBEBE;
}
#bodyParams{
  border-radius: 5px;
  border-style: 1px solid  #BEBEBE;
}
#menuTemp{
  border-radius: 5px;
  color: black;
}
a{
  color: white;
}
.scrollbar-ripe-malinka::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  border-radius: 10px;
}
  
  .scrollbar-ripe-malinka::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
 }
  .result {
    position: relative;
    overflow-y: scroll;
    height: 300px;
    margin-bottom: 100px;
    width: 100%;
  }
  
.iframe-attrapi{
  height: auto;
  min-height: 100px;
  background-color: white;
  border: 1px solid #BEBEBE;
  border-radius: 5px;
}
.iframe-attrapi .request-param{
  margin-left: 10px;
  margin-top: 10px;
}
.iframe-attrapi .request-param input{
  border-radius: 5px;
  border: 1.5px solid #BEBEBE;
  padding-left: 5px;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #BEBEBE;
}
#bodyParams .line-1-param span input{
  padding-left: 8px;
  height: 35px;
  background-color: #fff;
}
#bodyParams .line-1-param .span8{
  margin-left: 20px;
  position: relative;
}
#bodyParams .line-1-param .span8 input{
  margin-top: 10px;
  
  width: 450px;
  /* left: 25%; */
  border-radius: 5px 0 0 5px;
  position: relative;
}
#bodyParams .line-1-param .span8 .hide-input-text-body{
  width: 440px;
  position: relative;
  left: 26%;
  background: white;
  margin-top: -30px;
  padding-left: 10px;
}
/* #bodyParams .line-1-param .span8 .input-type-text-body{
  left: 25%;
  margin-top: 12px;
  width: 450px;
  position: absolute;
  display: inline-block;
}
#bodyParams .line-1-param .span8 .input-type-file-body{
  display: block;
} */
#bodyParams .line-1-param .span3 input{
  margin-top: 10px;
  border-radius: 5px;
}
#bodyParams .line-1-param .span3:hover> select{
  display: inline-block;
}
#bodyParams .line-1-param .span3 select{
  margin-left: -55px;
  height: 25px;
  border: 0;
  background-color: #fff;
  color: #AAAAAA;
  opacity: 0.4;
  border-radius: 0 5px 5px 0;
  display: none;
}
#bodyParams .line-1-param .span3 select option{
  background-color: #FFCC99;
  color: #AAAAAA;
}
#bodyParams .line-1-param span img{
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-top: 10px;
}
#bodyParams .line-1-param .span1-delete img:hover{
  content: url("../images/delete-hover.png");
}
.btn-add-param{
  width: 20px;
}
.span1-delete{
  width: 20px;
}
#bodyParams .line-1-param .span8 .choose-file-other{
  display: none;
}
#bodyParams .line-1-param .span8 .choose-file-other .other-choose-file{
  background-color: white;
  border-radius: 0 5px 5px 0;
  border: 1px solid #ccc;
  height: 35px;
  width: 25px;
  padding-bottom: 4px;;
  margin-left: -1px;
} 
#bodyParams .line-1-param .span8 .choose-file-other .dropdown-to-choose{
  display: none;
  border: 1px solid #ccc;
  width: 100px;
  height: 35px;
  /* padding-bottom: 4px; */
  background-color: white;
  margin-left: 3px;
  border-radius: 5px;
}
#bodyParams .line-1-param .span8 .choose-file-other .dropdown-to-choose button{
  width: 50%;
  border: none;
  background-color: white;
  
}
#bodyParams .line-1-param .span8 .choose-file-other .dropdown-to-choose button img{
  width: 25px;
  height: 25px;
  margin-left: -10px;
  margin-right: auto;
  margin-top: auto;
}
#bodyParams .line-1-param .span8 .choose-file-other:hover .dropdown-to-choose{
  display: inline-flex;
}
#bodyParams .line-1-param .span8 button img{
  height: 10px;
  height: 10px;
  padding: 0px;
  margin-top: -8px;
  margin-left: -1px;
}
/* auth */
/* basic auth */
.header-auth tr td a{
  text-decoration: none;
}
.header-auth td img{
  width: 15px;
  height: 15px;
}
.header-auth .auth-bearer img{
  margin-left: 50px;
}
.form-basic-auth{
  display: none;
}
.form-basic-auth .title-basic-auth{
  color: #808080;
}
.form-basic-auth span  input{
  padding-left: 8px;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
}
.form-basic-auth .span3 input{
  padding-left: 8px;
  height: 35px;
}
.form-basic-auth .span8 input{
  margin-top: 10px;
  margin-left: 20px;
  width: 450px;
  left: 25%;
}
.form-basic-auth .span1 a img{
  width: 15px;
  height: 15px;
 
}
.form-basic-auth .span1 a img:hover{
  content: url("../images/delete-hover.png");
}
/* bearer token */
.form-bearer-token{
  display: none;
}
.form-bearer-token .title-bearer-token{
  color: #808080 ;
}
.form-bearer-token .span11 input{
  padding-left: 8px;
  border-radius: 5px;
  background-color: #fff;
  width: 600px;
  margin-top: 10px;
}
.form-bearer-token .span1 a img{
  width: 15px;
  height: 15px;
}
.form-bearer-token .span1 a img:hover{
  content: url("../images/delete-hover.png");
}
/* header */
#headerParams .line-1-param span input{
  padding-left: 8px;
  height: 35px;
  background-color: #fff;
}
#headerParams .line-1-param span input{
  border-radius: 5px;
}
#headerParams .line-1-param .span8 input{
  margin-top: 10px;
  margin-left: 20px;
  width: 450px;
  left: 25%;
}
#headerParams .line-1-param .span3 input{
  margin-top: 10px;
}
#headerParams .line-1-param span img{
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-top: 10px;
}
#headerParams .line-1-param .span1-delete img:hover{
  content: url("../images/delete-hover.png");
}
/* param */
#paramsParams .line-1-param span input{
  padding-left: 8px;
  height: 35px;
  background-color: #fff;
}
#paramsParams .line-1-param span input{
  border-radius: 5px;
}
#paramsParams .line-1-param .span8 input{
  margin-top: 10px;
  margin-left: 20px;
  width: 450px;
  left: 25%;
}
#paramsParams .line-1-param .span3 input{
  margin-top: 10px;
}
#paramsParams .line-1-param span img{
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-top: 10px;
}
#paramsParams .line-1-param .span1-delete img:hover{
  content: url("../images/delete-hover.png");
}
#content{
  position: relative;
}
#new-collection{
  /* position: absolute; */
  top: 10%;
  /* left: 30%; */

}
#save-api{
  position: absolute;
  top: 100px;
  left: 200px;
}
#content{
 z-index: 1;
}
#new-collection{
  z-index: 2;
}
#save-api{
  z-index: 3;
}
#eachCollection :hover{
  background-color: rgb(219, 207, 207);
  border-radius: 5px;
}
#runCollection :hover{
  background-color: rgb(218, 213, 213);
  height: 30px;
  width: 30px;
}
/* panel left */
#history .ul-history{
  background: white;
  height: 100% screen;
  list-style: none;
  padding-left: 0%;
}
#history .ul-history li img{
  height: 15px;
  width: 15px;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
#history .ul-history .lv0-date-history{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-left: 10%;
}
#history .ul-history .lv0-date-history p{
  display: none;
}
/* #history .ul-history .lv0-date-history:hover{
  background-color: yellow;
} */
#history .ul-history .lv0-history{
  margin: 0;
  margin-left: -10px;
  padding: 0;
  overflow: hidden;
  display: inline-flex;
  height: 100%;
  align-items: center;
  width: 100%;
  padding-left: 10%;
}
#history .ul-history .lv0-history p{
  width: 80%;
  word-wrap: break-word;
  margin-left: 10px;
  margin-bottom: 0px;
}
#history .ul-history .lv0-history span{
  text-transform: uppercase;
  font-weight: bold;
}
/* tablet */
@media only screen and (min-width: 600px){
  #history .ul-history .lv0-history p{
    width: 65%;
    word-wrap: break-word;
    margin-left: 10px;
    margin-bottom: 0px;
  }
}
/* desktop */
@media only screen and (min-width: 1224px){
  #history .ul-history .lv0-history p{
    width: 80%;
    word-wrap: break-word;
    margin-left: 10px;
    margin-bottom: 0px;
  }
}
/*smartphone */
@media only screen and (max-width : 600px){
  #history .ul-history .lv0-history p{
    width: 80%;
    word-wrap: break-word;
    margin-left: 10px;
    margin-bottom: 0px;
  }
}
#history .ul-history .form-history{
  width: 100%;
}
#history .ul-history .form-history a{
  text-decoration: none;
  color: black;
}
#history .ul-history .form-history .history-1-line{
  width: 100%;
}
#myTabContent #history{
  overflow: auto;
  height: 700px;
  margin-top: -15px;
}

/* collection */
#new-collection #form-create-collection{
  display: none;
  width: 70%;
  left: 20%;
  top: 10%;
  height: auto;
}
#new-collection #form-create-collection form{
  border-radius: 5px; 
  border-style: hidden; 
  width: 90%;
  background-color: white;
}
#new-collection #form-create-collection form h4{
  background-color: white; 
  color: black; 
  /* height: 50px;  */
  text-align: center; 
  padding: 5px 0
}
#new-collection #form-create-collection form label{
  padding-left: 10px; 
  color: black;
  /* font-style: italic; 
  font-size: large */
}
#new-collection #form-create-collection form p{
  padding-left: 10px; 
  color: black;
  /* font-style: italic; 
  font-size: large; */
}
#new-collection #form-create-collection form .nameCollection{
  width: 70%;
  margin-left: 15%;
  border-radius: 5px;
  border: 1px solid #333333;
}
#new-collection #form-create-collection form .desColletion{
  height: 200px;
  width: 70%;
  margin-left: 15%;
  border-radius: 5px;
  border: 1px solid #333333;
}
#new-collection #form-create-collection form .modal-footer{
  align-items: center;
  align-content: center;
  display: inline-flex;
  margin-left: 37%;
}
#new-collection #form-create-collection form .btn-create-successfully{
  border-radius: 5px;
  border: 1px solid #0069d9;
  padding: 5px 15px 5px 15px;
}
#new-collection #form-create-collection form .btn-cancle-create{
  border-radius: 5px;
  border: 1px solid #CDC9C9;
  padding: 10px;
  padding: 5px 15px 5px 15px;
}

/* user after signed in */
.dropdown-menu{
  background-color: white;
  border: 1px solid #ccc;
  display: none;
  left: 86%!important;
  top: 80%!important;
}
.user-signed-in{
  width: auto;
  display: none;
}
.user-signed-in a:hover .user-dropdown{
  display: inline;
}
.btn-sign-in{
  display: block;
}
.btn-sign-up{
  display: block;
}
.nameOfUser{
  font-size: 14pt;
  font-family: "Segoe UI",Arial,sans-serif;
}

footer{
  padding-top: 50px;
  height: 300px;
  background-color: rgb(216, 212, 212);
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
header {
  display: block;
  position: relative;
}
.basic-search {
  border-radius: 5px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-bottom: 2px solid #00bbec;
}
#search{
  width: 100%;
}
.basic-search .input-field {
  width: 100%;
  border-radius: 5px;
}
.basic-search .input-field input {
  padding: 10px 80px 10px 40px;
  border-radius: 5px;
  border-radius: 5px;
}
.input-field .icon-wrap {
  position: absolute;
  top: 25%;
  right: 7%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 50px;

}
.basic-search .input-field .icon-wrap svg {
  width: 25px;
  height: 25px;
  fill: #ccc;
  padding-top: 10%;
}
#circle_pass {
  margin-left: 20px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border-style: ridge;
  border-color: green;
  background-color: #eff3f1;
}
#circle_fail {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border-style: ridge;
  border-color: red;
  background-color: #eff3f1;
}
.shape{
  height: 30px;
  width: 30px;
  border-radius: 10px;
}
#iteration{
  height: 40px;
  background-color: rgb(207, 209, 211);
  border-radius: 5px;
  margin: 3px;
  padding-left: 15px;
  padding-top: 5px;
  margin-left: 10px;
  font-weight: 600;
}
.my-custom-scrollbar {
  position: relative;
  height: 600px;
  overflow: auto;
  margin-bottom: 50px;
}
.shape {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.shape .text {
  visibility: hidden;
  width: 120px;
  background-color: rgb(102, 99, 99);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-left: 10px;
}

.shape:hover .text {
  visibility: visible;
}

/* collection */
.collapse .col-10 a{
  text-decoration: none;
  color: black;
}
.collapse .col-10 a .each-collection{
  padding: 4px;
}
.collapse .col-10 a .each-collection:hover{
  border: 0.5px solid #ccc;
  border-radius: 5px;

}
.api-of-collection span{
  text-transform: uppercase;
  font-weight: bold;
}
.api-of-collection p{
  word-wrap: break-word;
  margin-bottom: 0px;
}

/* save api */
#ModalSaveApi{
  z-index: 9999!important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#ModalSaveApi .form-save-api{
  border: 1px solid #ccc;
  /* text-align: center; */
  margin-top: 5%;
  margin-left: 25%;
  width: 50%;
  background: white;
}
#ModalSaveApi .form-save-api .form-header h4{
  font-family: "Segoe UI",Arial,sans-serif;
  padding-left: 10px;
  padding-top: 5px;
}
#ModalSaveApi .form-save-api .form-body{
  margin-left: 20px;
  margin-right: 20px;
}
#ModalSaveApi .form-save-api .form-body .name-request input{
  width: 100%;
  border-radius: 5px;
}
#ModalSaveApi .form-save-api .form-body .choose-collection span{
  font-size: 11pt;
}
#ModalSaveApi .form-save-api .form-body .choose-collection .card .card-header a{
  float: right;
  text-decoration: none;
  color: red;
}
#ModalSaveApi .form-save-api .form-body .choose-collection .card .card-body{
  padding: 5px 0 0 5px;
  overflow: auto;
  height: 100px;
}
#ModalSaveApi .form-save-api .form-body .choose-collection .card .card-body .a-collection:hover{
  background-color: #EEEEEE;
  cursor: pointer;
}
#ModalSaveApi .form-save-api .form-footer{
  text-align: center;
  padding: 10px;
}
#ModalSaveApi .form-save-api .form-footer .btn{
  width: 100px!important;
}
.btn-save-api{
  width: 100px;
  height: 26px;
  padding-top: 0px!important;
  margin-top: -6px;
  color: #ccc;
}

/* runcollection */
.col-sm-7 p{
  font-weight: 500;
  font-size: 18px;
  font-style: italic;   
  margin-top: 40px; 
  color: rgb(3, 53, 10);
  margin-left: 10px;
}
.form-choose-api{
  height: 700px; 
  border-style: ridge;
  background-color: rgb(245, 245, 243);
  box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.15);
  border: 2px solid #0cc9f8; 
  border-radius: 5px; 
  margin: 10px;
  overflow: auto;
  word-wrap: normal;
}
.form-choose-api .col-1 input{
  background-color: rgb(139, 3, 3); 
  width: 25px;
  height: 15px; 
  margin-top: 12px; 
  max-width: 30px;
}
.form-choose-api .method-api-choose{
  color: rgb(148, 146, 10);
  font-weight: 200;
  font-size: 12pt;
  font-family:  Arial, Helvetica, sans-serif ;
  text-transform: uppercase;
  margin-right: 5px;
  margin-top: 5px;
}
.form-choose-api .url-api-choose{
  color: rgb(53, 32, 241);
  font-weight: 500;
  font-size: 13pt;
  font-family:  Arial, Helvetica, sans-serif ;
  margin-top: 5px;
}
.form-show-api{
  height: 300px; 
  border-radius: 5px; 
  border-style: ridge; 
  margin-bottom: 30px; 
  background-color: rgb(243, 243, 240);
   /* box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.15); */
  overflow: auto;
}
.form-show-api .header-form-show-api{
  
}
.form-show-api .basic-search{
  border-bottom: 0px!important;
  box-shadow: none!important;
}
.form-show-api .basic-search .input-field #search{
  border: 1px solid #ccc;
  width: 90%;
  padding: 5px;
  margin-left: 5px;
  margin-top: 5px;

}
.form-show-api .show-api-collection .method-api-show{
  color: rgb(148, 146, 10);
  font-weight: 200;
  font-size: 12pt;
  font-family:  Arial, Helvetica, sans-serif ;
  text-transform: uppercase;
  margin-right: 5px;
  margin-top: 5px;
}
.form-show-api .show-api-collection .url-api-show{
  font-size: 13pt;
  font-family:  Arial, Helvetica, sans-serif ;
  margin-top: 5px;
}

#ModalImportCollection{
  z-index: 9999!important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#ModalImportCollection .form-import{
  border: 1px solid #ccc;
  /* text-align: center; */
  margin-top: 5%;
  margin-left: 25%;
  width: 50%;
  background: white;
}
#ModalImportCollection .form-import .form-header h4{
  font-family: "Segoe UI",Arial,sans-serif;
  padding-left: 10px;
  padding-top: 5px;
}
#ModalImportCollection .form-import .form-body{
  margin-left: 20px;
  margin-right: 20px;
}
#ModalImportCollection .form-import .form-body .url input{
  width: 100%;
  border-radius: 5px;
}
#ModalImportCollection .form-import .form-footer{
  text-align: center;
  padding: 10px;
}
#ModalImportCollection .form-import .form-footer .btn{
  width: 100px!important;
}

/* collection result */
.header-colrsl{
  border-radius: 4px; 
  border-style: ridge; 
  margin-top: 5px; 
  margin-left: 0px!important; 
  margin-right: 0px!important;
}
.header-colrsl .circle-pass-rsl{
  margin: auto;
}
.header-colrsl .circle-fail-rsl{
  margin: auto;
}
.header-colrsl .circle-pass-rsl .circle{
  display: none;
}
.header-colrsl .circle-pass-rsl #circle_pass{
  display: flex!important;
  margin-left: 0px!important;
}
.header-colrsl .circle-fail-rsl #circle_fail{
  display: flex!important
}
.header-colrsl .circle-pass-rsl #circle_pass p{
  color: green; 
  font-weight: 600;
  /* margin-top: -25%;
  margin-left: 15%; */
  margin: auto!important;
}
.header-colrsl .circle-pass-rsl .circle .numberOfPass{
  /* margin-left: 40%; 
  margin-top: 20%;  */
  margin: auto;
  color:green; 
  font-weight: 600;
}
.header-colrsl .circle-fail-rsl .circle{
  display: none;
}
.header-colrsl .circle-fail-rsl #circle_fail p{
  color: red; 
  font-weight: 600;
  /* margin-top: -25%;
  margin-left: 20%; */
  margin: auto;
}
.header-colrsl .circle-fail-rsl .circle .numberOfFail{
  /* margin-left: 40%; 
  margin-top: 20%; */
   color:red; 
   font-weight: 600;
   margin: auto;
}
.header-colrsl .nameheaderCollection{
  display: grid;
}
.header-colrsl .nameheaderCollection #caseTest{
  font-size: 25px;
   font-weight: 500; 
   color: rgb(106, 108, 109); 
   margin-top: 5px!important;
   margin: auto;
}
.header-colrsl .nameheaderCollection p{
  color: rgb(173, 173, 173); 
  font-weight: 600;
  margin: auto;
}
.header-colrsl .iterationCollection{
  display: grid;
}
.header-colrsl .iterationCollection p{
  font-size: 25px;
  font-weight: 500; 
  color: rgb(106, 108, 109);
  margin-top: 5px!important; 
  border-right: darkgreen; 
  border-left: darkgreen;
  margin: auto;
}
.header-colrsl .iterationCollection #iteration{
  color: rgb(173, 173, 173); 
  font-weight: 600; 
  margin-left: 30%; 
  margin-top: -15px;
  margin: auto;
}
.header-colrsl .delayCollection{
  display: grid;
}
.header-colrsl .delayCollection p{
  font-size: 25px; 
  font-weight: 500; 
  color: rgb(106, 108, 109); 
  margin-top: 5px!important;
  margin: auto;
}
.header-colrsl .delayCollection #delay{
  color: rgb(173, 173, 173); 
  font-weight: 600; 
  margin-left: 5%; 
  margin-top: -15px;
  margin: auto;
}
.header-colrsl .delayCollection #eventEmail{
  display: none;
}
.header-colrsl .btn-header-functions{
  display: flex;
}
.header-colrsl .btn-header-functions .btn-export{
  color: #3366CC;
  border-radius: 20px; 
  margin: auto;
}
.header-colrsl .btn-header-functions .btn-export:hover{
  color: white;
  background-color: #3366CC;
}
.header-colrsl .btn-header-functions button{
  width: 100px;
  border-radius: 20px;
  height: 40px;
  background-color: white;
  border: 1px solid #ccc;
}
.header-colrsl .btn-header-functions span{
  margin: auto;
}
.header-colrsl .btn-header-functions span a .btn-sendemail{
  color: #FF0000;
}
.header-colrsl .btn-header-functions span a .btn-sendemail:hover{
  color: white;
  background-color: #FF0000;
}
.header-colrsl .btn-header-functions span .btn-chart{
 color: #FFCC00;
}
.header-colrsl .btn-header-functions span .btn-chart:hover{
  color: white;
  background-color: #FFCC00;
}

/* body result collection */
.my-custom-scrollbar .icon-status .shape-pass{
  height: 30px; 
  width: 30px; 
  background-color: springgreen; 
  margin-left: 30px; 
  margin-top: 25px;
}
.my-custom-scrollbar .icon-status .shape-fail{
  height: 30px; 
  width: 30px; 
  background-color: red; 
  margin-left: 30px; 
  margin-top: 10px;
}

.my-custom-scrollbar .formResult{
  border-style: ridge; 
  margin: 5px; 
  border-color: rgb(160, 217, 250);
  padding: 10px;
}
.my-custom-scrollbar .formResult #iteration{
  margin: auto!important;
}
.my-custom-scrollbar .formResult .rowOfApi{
  /* height: 50px; */
  margin: auto;
  margin-top: 5px!important;
  margin-bottom: 5px!important;
  /* margin-left: 20px;  */
  border-style: ridge;
  border-color: rgb(236, 232, 232); 
  padding-top: 5px;
  display: flex;
  width: 100%;
}
.my-custom-scrollbar .formResult .rowOfApi .col-shape{
  display: flex;
}
.my-custom-scrollbar .formResult .rowOfApi .shape-pass{
  height: 30px; 
  width: 30px; 
  border: 10px; 
  background-color: springgreen; 
  margin-left: 10px;
  margin: auto;
}
.my-custom-scrollbar .formResult .rowOfApi .shape-fail{
  height: 30px; 
  width: 30px; 
  border: 10px; 
  background-color: rgb(255, 0, 0); 
  margin-left: 10px;
  margin: auto;
}
.my-custom-scrollbar .formResult .rowOfApi .api-method{
  color: rgb(49, 40, 173); 
  margin-left: 10px;
  margin: auto;
  text-transform: uppercase;
}
.my-custom-scrollbar .formResult .rowOfApi .api-url{
  color: grey; 
  margin-left: 10px;
  word-wrap: break-word;
}
.my-custom-scrollbar .formResult .rowOfApi .col-circle{
  display: flex;
}
.my-custom-scrollbar .formResult .rowOfApi .shape-circle{
  height: 20px; 
  width: 20px; 
  border: 10px; 
  background-color: gray; 
  margin-left: 30px;
  margin: auto;
}
.my-custom-scrollbar .formResult .rowOfApi .api-statusCode{
  color: grey;
  margin-left: 10px;
  margin: auto;
  text-transform: uppercase;
}
.my-custom-scrollbar .formResult .rowOfApi .api-status{
  color: rgb(238, 177, 11); 
  margin-left: 10px;
  margin: auto;
  text-transform: uppercase;
}
.my-custom-scrollbar .formResult .rowOfApi .api-timerequest{
  color: rgb(4, 88, 22); 
  margin-left: 10px;
  margin: auto;
}

/* response */
#responseRlt{
  width: 100%;
}
#myTabResponseContent .saveExpected{
  float: right;
  background: white;
    border: 1px solid #FF3333;
    border-radius: 10px;
    height: 40px;
    color: #BBBBBB;
}
#myTabResponseContent .saveExpected:hover{
  background-color: #FF3300;
  color: white;
}
