<!DOCTYPE html>
<html>
  <head>
    <title>API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">
   
  </head>
  <body>
      <%include header.ejs %>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10" style="border-radius: 4px; border-style: ridge; margin-bottom: 100px; margin-top: 30px;">
                <span>0</span>
                <span style="color: green;">Passed</span>
                <br>
                <span>0</span>
                <span style="color: red;">Failed</span>
            </div>
            <div class="col-sm-1"></div>
        </div>
      <%include footer.ejs %>
  </body>
</html>