  <!-- Site footer -->
  <footer class="site-footer" style="padding: 100px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">api-pinger.herokuapp.com focuses on providing the most efficient code and especial, we will help programmers monitoring api and easier to manage the api list of your project.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="#">API</a></li>
            <li><a href="#">Collection </a></li>
            <li><a href="#">Ping api</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
            <a href="https://api-pinger.herokuapp.com/">api pinger</a>.
          </p>
        </div>
      </div>
      <hr>
    </div>
</footer>