<header>
    <div class="row">
        <div class="col-sm-12">
          <nav class="navbar navbar-dark bg-dark" style="height: 80px;">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-plus"></span> New
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">collection</button>
                <hr>
                <button class="dropdown-item" type="button">get request</button>
                <hr>
                <button class="dropdown-item" type="button">Something..</button>
              </div>
            </div>
            <a style="color: white;">Home</a>
            <a style="color: white;">About Us</a>
            <a style="color: white;">Contact</a>
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 200px;">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"">Search</button>
            </form>
          </nav>
        </div>
      </div>
</header>