<header>
    <div class="row">
        <div class="col-sm-12">
          <nav class="navbar navbar-dark bg-dark" style="height: 80px;">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-plus"></span> New
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item btn-import-collection" type="button" data-toggle="collapse" data-target="#ModalImportCollection">import collection</button>
                <hr>
                <button class="dropdown-item" type="button">get request</button>
                <hr>
                <button class="dropdown-item" type="button">Something..</button>
              </div>
            </div>
            <a href="/home" style="color: white; font-weight: 600; font-size: 20px;">Home</a>
            <!-- <a href="#" style="color: white; font-weight: 600; font-size: 20px;">Walkthrough</a> -->
            <a href="#" style="color: white; font-weight: 600; font-size: 20px;">About Us</a>
            <a href="#" style="color: white; font-weight: 600; font-size: 20px;">Contact</a>
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 200px;">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"">Search</button>
            </form>
            <button class="btn btn-success btn-sign-in">
              Sign in
            </button>
            <button type="button" class="btn btn-info btn-sign-up">
              Sign up
            </button>
            <div class="user-signed-in">
              <a href="#"><span class="nameOfUser"></span></a>
            </div>
          </nav>
        </div>
      </div>
</header>
