<!DOCTYPE html>
<html>
  <head>
    <title>Sign in</title>
    <link rel='stylesheet' href='/stylesheets/styleLogin.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">
   
  </head>
  <body>
      <div class="container-fluid">
          <div class="row">
              <div class="col-3">
              </div>
              <div class="col-6">
                <form class="form-sign-in" method="POST">
                    <h4>Sign in</h4>
                    <input class="username-login" type="text" placeholder="Username">
                    <input class="password-login" type="password" placeholder="Password">
                    <a href="#"><p>Forgot password?</p></a>
                    <button type="submit" class="btn btn-primary btn-sign-in">Submit</button>
                    <h6>OR</h6>
                    <div class="login-other-way">
                        <button type="button" class="login-google btn btn-outline-danger">
                            <img src="images/google.png">
                        </button>
                        <button type="button" class="login-facebook btn btn-outline-primary">
                            <img src="images/fb.png">
                        </button>
                    </div>
                </form>
              </div>
              <div class="col-3">

              </div>
          </div>
      </div>

  </body>
</html>